{% extends 'blog/basic.html' %}

{% block body %}
<div class="container mt-3">
    <div class="row my-2">
        {% for i in blog %}
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{ i.category }}</strong> <!-- Category field -->
                    <h3 class="mb-0">{{ i.title }}</h3> 
                    <div class="mb-1 text-muted">{{ i.pub_date }}</div> 
                    <p class="card-text mb-auto">{{ i.head1 }}</p> 
                    <a href="{% url 'BlogPost' i.id %}" class="stretched-link">Continue reading</a> <!-- Link to full post -->
                </div>
                <div class="col-auto d-none d-lg-block">
                    <!-- Replace with actual image field if available -->
                    <img src="{{ i.img.url }}" class="bd-placeholder-img" width="200" height="250" alt="Thumbnail"> <!-- Thumbnail image -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
